body {
    --primary-color: #38c172;
    --secondary-color: #555;
    --background-light: #ffffff;
    --background-body: #f4f4f4;
    --text-color: #333;
    --left-col-bg: #e6f7ef;

    background-color: var(--background-body);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.cv-card {
    background-color: var(--background-light);
    border-radius: 25px;
    overflow: hidden;
    transition: background-color 0.3s;
}

.left-col {
    background-color: var(--left-col-bg);
    color: var(--text-color);
    position: relative;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
}

.wave-shape {
    position: absolute;
    top: -200px;
    right: -250px;
    width: 650px;
    height: 1200px;
    background-color: var(--left-col-bg);
    border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
    transform: rotate(25deg);
    z-index: -1;
    transition: background-color 0.3s;
}

.right-col {
    background-color: var(--background-light);
    z-index: 3;
    transition: background-color 0.3s, color 0.3s;
}

.contact-info p, 
.skills-list li,
.job-title,
.badge {
    color: var(--text-color);
    transition: color 0.3s, background-color 0.3s;
}


.badge {
    background-color: var(--secondary-color);
    color: var(--background-light);
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: normal;
}

body.dark-mode {
    --background-body: #121212;
    --background-light: #1e1e1e;
    --text-color: #f1f1f1;
    --left-col-bg: #2c3e50;
    --secondary-color: #555;
}
